VMCard {
    width: auto;
    min-width: 20fr;
    max-width: 100;
    text-align: center;
    padding: 0 0;
    border: panel green;
    overflow-y: auto;
}
#name {
    background: green;
    color: black;
    padding: 0 1;
    text-style: bold;
    content-align: center middle;
    border: hidden;
}
#status {
    margin: 0 2;
    padding: 0 1;
    height: 3vh;
    content-align: center middle;
    border: hidden;
}
#status.running {
    background: lightgreen;
    color: black;
}
#status.stopped {
    color: black;
    background: red;
}
#status.paused {
    color: black;
    background: yellow;
}
Button {
    height: 3vh;
    width: 5vh;
    margin: 0 1;
    padding: 0 0;
    overflow-y: auto;
    border: hidden;
}
#button-container {
    width: 100%;
    height: 100%;
    padding: 0 1;
}
#status-cpu-mem {
    width: 100%;
    height: 100%;
    padding: 0 1;
}
