VMCard {
    text-align: center;
    border: hidden;
    margin: 0 0;
    width: 43;
    height: 14;
}
#name {
    background: green;
    color: white;
    padding: 0 0;
    text-style: bold;
    content-align: center middle;
}
#info-container {
    background: $background;
    color: white;
    padding: 0 0;
    content-align: center middle;
    /* Border properties change based on server which belong VM */
    width: 41;
    height: 14;
}
#dialog Select {
    width: 50;
    height: 5;
    border: none;
    margin: 0 0;
}
#dialog-buttons Button {
    width: 50%;
}

.sparkline-container {
    align-horizontal: left;
    margin: 0 1;
}

.sparkline-label {
    width: 10;
    text-align: left;
    padding-right: 1;
    padding-left: 1;
}

#cpu-sparkline {
    background: $panel;
    color: $success;
    margin-right: 1;
}

#mem-sparkline {
    background: $panel;
    color: $warning;
    margin-right: 1;
}

.hidden {
    display: none !important;
}

#status {
    margin: 0 2;
    padding: 0 1;
    text-style: bold;
    height: 1;
    content-align: center middle;
    margin-bottom: 1;
}
#status.running,
#status.stopped,
#status.paused {
    color: black;
}
#status.running {
    background: lightgreen;
}
#status.stopped {
    background: red;
}
#status.paused {
    background: yellow;
}

Button {
    height: 1;
    width: 100%;
    margin: 0 1;
    padding: 0 0;
    border: hidden;
}

.Buttonpage {
    height: 1;
    width: 15%;
    margin: 0 1;
    padding: 0 0;
    overflow-y: auto;
    border: hidden;
}

#button-container {
    width: 100%;
    height: 100%;
    margin: 1 1;
    padding: 0 1;
}

#status-cpu-mem {
    width: 100%;
    height: 100%;
    padding: 0 1;
}

/* Custom button styles */
#xml,
#snapshot_take,
#snapshot_restore,
#snapshot_delete {
    color: white;
    height: 1;
}
#xml {
    padding: 0 1;
    background: grey;
}
#snapshot_take, #snapshot_restore, #snapshot_delete {
    padding: 0 0;
}
#snapshot_take {
    background: #00008B; /* Dark blue */
}
#snapshot_restore {
    background: #0000FF; /* Blue */
}
#snapshot_delete {
    background: red;
}
#snapshot-tab,
#manage-tab {
    border: hidden;
}
.button-separator {
    height: 1;
}

#pause {
    background: #FFA500; /* Orange */
}

#connect {
    height: 1;
    background: red;
}
