/*
 * dialog.css - Textual TUI
 */

/* === COMMON OVERLAY MODAL === */
BulkActionModal,
WebConsoleDialog,
SnapshotNameDialog,
SelectSnapshotDialog,
SelectOneServerModal,
ConfirmationDialog,
ChangeNetworkDialog,
XMLDisplayModal,
SelectDiskModal,
AddDiskModal,
EditDiskModal,
SelectPoolModal,
VMDetailModal,
VirshShellScreen,
ProgressModal,
AddPoolModal,
MigrationModal,
MoveVolumeModal,
DeleteVMConfirmationDialog,
AdvancedCloneDialog,
RenameVMDialog,
AddInputDeviceModal,
PasswordModal,
FileSelectionModal,
ConfigModal,
HowToNetworkModal,
CustomMigrationModal,
HowToOverlayModal,
HowToVirtIOFSModal,
HowToDiskModal,
WebConsoleConfigDialog,
LoadingModal,
PatternSelectModal,
HowToSSHModal {
  align: center middle;
  background: rgba(0, 0, 0, 0.5);
}

/* === BASE DIALOGUE === */
SnapshotNameDialog > #dialog,
ConfirmationDialog > #dialog,
CustomMigrationModal > #custom-migration-dialog,
WebConsoleDialog > #dialog,
SelectDiskModal > #dialog,
MoveVolumeModal > #move-volume-dialog,
SelectPoolModal > #dialog,
SelectOneServerModal > #select-one-server-container,
DeleteVMConfirmationDialog > #delete-vm-dialog,
SelectServerModal > #select-server-container,
PatternSelectModal > #pattern-select-container,
RenameVMDialog > #dialog,
ChangeNetworkDialog > #dialog,
AddInputDeviceModal > #add-input-container,
PasswordModal > #password-dialog,
AddPoolModal > #add-pool-dialog,
FileSelectionModal > #file-selection-dialog,
ConfigModal > #config-dialog,
HowToOverlayModal > #howto-overlay-dialog,
HowToNetworkModal > #howto-network-dialog,
WebConsoleConfigDialog > #webconsole-config-dialog,
HowToDiskModal > #howto-disk-dialog,
HowToVirtIOFSModal > #howto-virtiofs-dialog,
HowToSSHModal > #howto-ssh-dialog {
  width: 60;
  padding: 1;
  content-align: center middle;
  align: center middle;
  border: round $primary;
  height: auto;
}

SelectSnapshotDialog > #dialog, {
  width: 68;
}
InstallVMModal > #install-dialog Select,
WebConsoleConfigDialog > #webconsole-config-dialog Select,
CustomMigrationModal Select {
  border: none ;
}
InstallVMModal > #install-dialog Select, {
  width: 100%;
}
/* === SPECIFIC HEIGHT === */
SelectSnapshotDialog > #dialog,
SnapshotNameDialog > #dialog { height: 20;}
DeleteVMConfirmationDialog > #delete-vm-dialog,
WebConsoleDialog > #webconsole-dialog,
ConfirmationDialog > #dialog { 
  height: 15; 
  border: $error; 
}
WebConsoleConfigDialog > #webconsole-config-dialog, {
  height: 24;
}
SelectOneServerModal > #select-one-server-container, {
  height: 10
}

#file-tree {
   height: 90%;
}
FileSelectionModal > #file-selection-dialog,
ConfigModal #config-dialog,
HowToOverlayModal #howto-overlay-dialog,
HowToDiskModal > #howto-disk-dialog,
HowToVirtIOFSModal #howto-virtiofs-dialog,
HowToNetworkModal #howto-network-dialog,
HowToSSHModal #howto-ssh-dialog {
    width: 80;
    height: 95%;
}

RenameVMDialog > #dialog { height: 13; }
ChangeNetworkDialog > #dialog { height: 20; }
InputModal > #input-modal-container { height: 16; }
AddInputDeviceModal > #add-input-container { height: 16; }
PasswordModal > #password-dialog { height: 12; }
XMLDisplayModal > #xml-display-dialog, #xml-textarea, { 
  width: 100%; 
  height: 95%; 
}

/* === CENTERED CONTENT === */
ConfirmationDialog Label,
RenameVMDialog,
AddDiskModal,
EditDiskModal,
WebConsoleDialog,
XMLDisplayModal,
MigrationModal,
MoveVolumeModal,
SelectDiskModal > #dialog,
SelectPoolModal > #dialog,
AddInputDeviceModal,
InputModal,
SelectOneServerModal {
  content-align: center middle;
}

/* === LABELS QUESTION === */
SnapshotNameDialog > #question,
ConfirmationDialog > #question,
RenameVMDialog > #question,
SelectDiskModal > #question,
SelectPoolModal > #question,
DeleteVMConfirmationDialog > #question,
SelectServerModal Label,
InputModal Label,
AddInputDeviceModal Label {
  margin-bottom: 1;
  content-align: center middle;
}

/* === BOUTONS CONTAINERS === */
SnapshotNameDialog > #dialog-buttons,
ConfirmationDialog > #dialog-buttons,
WebConsoleDialog > #dialog-buttons,
SelectDiskModal > #dialog-buttons,
SelectPoolModal > #dialog-buttons,
DeleteVMConfirmationDialog > #dialog-buttons,
SelectServerModal Button,
RenameVMDialog > #dialog-buttons,
ChangeNetworkDialog > #dialog-buttons,
AddInputDeviceModal .modal-buttons,
PasswordModal > #dialog-buttons {
  width: 100%;
}

ConfirmationDialog > #dialog-buttons { margin-top: 1; }

/* === LARGES BOUTONS (50%) === */
SnapshotNameDialog Button,
ConfirmationDialog Button,
RenameVMDialog Button,
ChangeNetworkDialog Button,
AddInputDeviceModal Button,
WebConsoleDialog Button,
SelectDiskModal Button,
FileSelectionModal Button,
SelectPoolModal Button,
DeleteVMConfirmationDialog Button,
ConfigModal Button,
PasswordModal Button {
  width: 50%;
  margin: 1;
  margin-left: 1;
}
AddPoolModal #browse-dir-btn,
AttachVolumeModal #browse-vol-btn,
AddDiskModal #browse-disk-btn, {
  height: 3;
  width: 25%;
  background: $primary;
}

ConfirmationDialog Button { margin-right: 1; }

/* === INPUTS === */
SnapshotNameDialog Input,
RenameVMDialog Input,
PasswordModal Input,
AddInputDeviceModal Select {
  margin-bottom: 1;
}
AddPoolModal #dir-target-path-input,
AttachVolumeModal #vol-path-input,
AddDiskModal #disk-path-input {
  width: 75%;
}
SelectSnapshotDialog.snapshot-select-dialog > #dialog {
  width: 90;
  height: 25;
}

#snapshot-table {
  height: 15;
  margin-bottom: 1;
  border: round $primary;
}

/* === NETWORK === */
ChangeNetworkDialog > #interface-select,
ChangeNetworkDialog > #network-select {
  margin-bottom: 1;
  height: 4;
}

/* === SWITCHS === */
#remote-console-switch > .switch--slider {
    color: red;
}
#remote-console-switch.switch-on > .switch--slider {
    color: green;
}
#remote-console-switch.switch-off > .switch--slider {
    color: red;
}
#remote-console-switch {
  margin: 0 0;
  border: none;
}

/* === PROGRESS MODAL === */
ProgressModal > #progress-modal-container {
  layout: vertical;
  height: 80%;
  width: 80%;
  border: round $primary;
}

ProgressModal > #progress-title,
ProgressModal > #progress-bar { 
  height: auto; 
}

ProgressModal > #progress-bar { 
  margin-bottom: 1; 
}

ProgressModal .progress-log {
  height: 1fr;
  min-height: 5;
  border: heavy $primary;
  padding: 0 1;
  background: $surface-darken-1;
}

/* === WEBCONSOLE === */
#webconsole-dialog,
#webconsole-config-dialog {
  width: 60;
  content-align: center middle;
  border: round $primary;
}

#webconsole-dialog { 
  width: 85; 
  height: 10; 
}

#config-title,
#config-title-file,
#webconsole-config-title {
  column-span: 2;
  margin: 0 1;
  content-align: center middle;
  width: 100%;
}

.webconsole-config-label { 
  content-align: right middle; 
}

/* === BULK ACTION === */
#bulk-action-dialog {
  height: 24;
  width: 80;
  border: round $primary;
  content-align: center middle;
  padding: 0 1;
}

/* === MISC === */
SelectServerModal,
FilterModal {
    align: center middle;
}

SelectServerModal Checkbox,
FilterModal Checkbox {
  height: 6;
  width: 100%;
  padding: 0 0;
  margin-bottom: 0;
  color: $text;
}

#tab-storage { layout: vertical; }

#storage-tree {
  height: 1fr;
  border: round $primary;
  margin-bottom: 1;
}

.storage-buttons {
  align: center middle;
  height: auto;
  margin-top: 1;
}

.storage-buttons Button { 
  width: 1fr; 
  margin: 0 1; 
}

#grid-remote-local,
#grid-vnc-config,
#clone-dialog {
  grid-rows: 4;
  grid-size-columns: 2;
  grid-gutter: 0 1;
  border: round $primary;
  width: 58;
  height: auto;
}
#grid-remote-local,
#grid-vnc-config, {
  border: none;
}

.log-view {
  background: #222222;
  color: #DDDDDD;
}

#wc-port-start-input,
#wc-port-end-input,
#vnc-quality-input,
#vnc-compression-input,
#cache-ttl-input,
#stats-interval-input,
#add-pool-btn #cancel-pool-btn,
#attach-btn, #cancel-btn,
#port-range-label {
  width: 25%;
  height: 1;
  border: none;
}


PatternSelectModal > #pattern-select-container {
    width: 80;
    height: 80%;
    padding: 1;
    border: round $primary;
}

#pattern-select-title {
    width: 100%;
    text-align: center;
    text-style: bold;
    margin-bottom: 1;
}

.pattern-input-row {
    height: auto;
    margin-bottom: 1;
}

#pattern-input {
    width: 1fr;
}

#regex-checkbox {
    width: auto;
    margin-left: 1;
}

.checkbox-list {
    height: auto;
    overflow-x: auto;
    margin-bottom: 1;
    padding: 0 1;
    border: round $surface;
}

#search-vms-btn {
    width: 100%;
    margin-bottom: 1;
}

#results-label {
    margin-bottom: 1;
}

#results-container {
    height: 1fr;
    border: round $primary;
    margin-bottom: 1;
}

#results-table {
    height: auto;
}

#pattern-action-buttons {
    height: auto;
    align: center middle;
}

#pattern-action-buttons Button {
    margin: 0 1;
    width: 1fr;
}

LoadingModal > Vertical {
    width: auto;
    height: auto;
    min-width: 30;
    background: $surface;
    border: round $primary;
    padding: 1 2;
}

LoadingModal Label {
    width: 100%;
    text-align: center;
    margin-bottom: 1;
}

LoadingModal LoadingIndicator {
    height: 1;
    color: $accent;
}
/* === Install Modals === */
InstallVMModal {
    align: center middle;
}

#install-dialog {
    width: 70;
    height: auto;
    border: thick $background 80%;
    background: $surface;
    padding: 1 2;
}

.label {
    margin-top: 1;
    margin-bottom: 0;
    color: $text-muted;
}

#progress-bar {
    display: none;
    margin-top: 1;
    width: 100%;
}

#status-label {
    display: none;
    text-align: center;
    color: $accent;
}

.buttons {
    margin-top: 2;
    align: center middle;
    height: 3;
    width: 100%;
}

Button {
    margin: 0 1;
}

