[Desktop Entry]
Name=VirtUI Manager
Exec=virtui-gui
Icon=io.github.aginies.virtui-manager
Terminal=false
Type=Application
Categories=System;Utility;
Keywords=virtualization;libvirt;kvm;qemu;
Comment=Terminal-based interface to manage virtual machines using libvirt
StartupWMClass=virtui-manager
