name: CI Check

on:
  pull_request:
    branches: [ "main" ]

jobs:
  check-constants:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Make scripts executable
        run: |
          chmod +x ./checks/check_constants.py
          chmod +x ./checks/check_version.py
      - name: Run checks
        run: |
          ./checks/check_constants.py
          ./checks/check_version.py
